[submodule "chapter_01"]
	path = chapter_01
	url = https://github.com/said-yolcu/learn_node_ch_1.git
[submodule "chapter_02"]
	path = chapter_02
	url = https://github.com/said-yolcu/learn_node_ch_2.git
[submodule "chapter_03"]
	path = chapter_03
	url = https://github.com/said-yolcu/learn_node_ch_3.git
[submodule "chapter_04"]
	path = chapter_04
	url = https://github.com/said-yolcu/learn_node_ch_4.git
[submodule "chapter_05"]
	path = chapter_05
	url = https://github.com/said-yolcu/learn_node_ch_5.git
[submodule "chapter_06"]
	path = chapter_06
	url = https://github.com/said-yolcu/learn_node_ch_6.git
[submodule "chapter_03_input_check"]
	path = chapter_03_input_check
	url = https://github.com/said-yolcu/learn_node_ch_3_input_check.git
